* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.car-add,
.car-edit,
.ws-add,
.ws-edit,
.engineer-add,
.engineer-edit,
.brigade-add {
  width: 1000px;
  margin: 0 auto;
}

.label {
  margin: 0;
}

.buttons {
  text-align: right;
  margin-bottom: 15px;
}

.table {
  height: 400px;
  margin-bottom: 10px;
}

