* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.car-add, .car-edit, .ws-add, .ws-edit {
  width: 1000px;
  margin: 0 auto;
}

.label {
  margin: 0;
}

.select-custom {
  .md-field {
    padding: 0;
    height: 32px;
    margin-bottom: 24px;
  }

  width: 968px;
  min-height: 48px;
  margin: 4px 0 24px;

  label {
    font-size: 12px;
    position: absolute;
    margin-top: -16px;
    color: #c8c8c8;
  }

  select {
    height: 32px;
    width: 968px;
    display: block;
    border: none;
    border-bottom: #c8c8c8 1px solid;
    font-size: 16px;
    line-height: 32px;
  }
}

.buttons {
  text-align: right;
  margin-bottom: 15px;
}

.table {
  height: 400px;
  margin-bottom: 10px;
}